@import url('https://fonts.googleapis.com/css?family=Roboto');

form {
  font-family: 'Roboto', sans-serif;
}

textarea:not(textarea),
textarea.form-control:not(textarea),
input.form-control:not(textarea),
input[type="text"]:not(textarea),
input[type="password"]:not(textarea),
input[type="email"]:not(textarea),
input[type="number"]:not(textarea),
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {-webkit-box-shadow: 0 0 0 30px white inset !important;}
[type="text"].form-control:not(textarea),
[type="password"].form-control:not(textarea),
[type="email"].form-control:not(textarea),
[type="tel"].form-control:not(textarea),
[contenteditable].form-control:not(textarea) {
  height: 1.5rem;
}

.block {
  display: inline;
}
